server {
  listen 80;
  listen [::]:80;
  server_name localhost;

  location / {
    proxy_pass http://localhost:3000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_cache_bypass $http_upgrade;
  }

  location /login {
    proxy_pass http://api:8081/auth/login;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }

  location /login {
    proxy_pass http://postagens-app:8081/postagens;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Authorization Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJ1cG4iOiI4NzAyMDUxNzAwMDEyMCIsImdyb3VwcyI6WyJJTlNUSVRVSUNBTyJdLCJleHAiOjE2OTkxNDU5ODIzNjcsImlhdCI6MTY5OTE0NTk3OCwianRpIjoiNjM4MjFkZDctMGVjYy00MTg1LTg2ZmEtYWNjMDQwNzg1NjAyIn0.GEtpF1B-malnXqXwYS-jE6NimXXFZXQ9yedUMjw8wjFFt6UJU1o8ErLYZQkVv2e3xQuRao7tPKA5Xhzz-sLdH8ElVZ_-WFHdAV2HebZjrf4WIRPJA2XJCHaVu275g5oq3fApRqNunwvstz0nIZZ76txbdxc9qO2D46TZlCsadA9XJDqnH5xUibHczuLetxzrejrLGVXY5CXIfgpt1cL8NxnzkOqZj-Mas_WysaJgbWlaLLiNH5HRCOr6C7QQf1CvAni1XwBLVv3y0MXlxhs8e_5ULxwqvxi6IfIAB28kOYVqLalN4424zh-pDXSDdsKKAlmqJSDRXkGIIHeOOLrK8w
  }
}