.Sair { 
  padding: 16px 20px;
  border-radius: 30px;
  margin-top: -90px;
  position: absolute;
  right: 10px;
  border: none;
  width: 40%;
  cursor: pointer;
  background-color: #046ee5;
  color: white;
  font-weight: 600;
  font-size: 16px;
  max-width: 150px;
}
