.selectInstituicao{
    display: flex;
    height: 100vh;
  }

  .input-cont{
    width: 500px;
    color: #000;
  }

  button{
    padding: 8px 15px;
    border: none;
    color: #fff;
    background-color: rgb(79, 79, 237);
    border-radius: 8px;
    margin-top: 5px;
  }