.selectInstituicao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .input-cont{
    width: 700px;
  }
  button{
    padding: 8px 15px;
    border: none;
    color: #fff;
    background-color: rgb(79, 79, 237);
    border-radius: 8px;
    margin-top: 5px;
  }