.Container{
    width: 400px;
    height: 370px;
    margin: auto;   
    overflow: auto;
    
    background:white;  
    border-radius: 5px;
    border:  0.5px solid;
}

.register{
    padding-top: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.texto, .titulo{
    text-align: center;
    color: black;
}

.titulo{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    margin-top: 50px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

.texto{
    padding-top: 20px;
}

.Login-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 300px;
    transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.Login-Error {
    color: #ff8080;
}

.Login-Button {
    border: none;
    border-radius: 5px;
    background: #046ee5;
    color: black;
    width: 333px;
    height: 54.06px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 33px;  
}

.Login-Button:hover {
    cursor: pointer;
}