body {
    font-family: Arial, Helvetica, sans-serif;
    background: #82a9f1;
    /*background: linear-gradient(90deg, #0056F0 0%, rgba(0,212,255,1) 100%);*/
    /*background: #8cb0bf ;  */
    color: #fdfdfd;
}
